---
import Badge from "@components/Badge/Badge.astro";
import FeatureCardIntegration from "@components/FeatureCard/FeatureCardIntegration.astro";
import { getLocaleFromUrl } from "@js/localeUtils";
import { getTranslatedData } from "@js/translationUtils";

interface CardData {
	icon: string;
	company: string;
}

interface FeatureData {
	topRow: CardData[]; // icon locations for astro-icon
	botRow: CardData[];
}

const currLocale = getLocaleFromUrl(Astro.url);
const integrationsData = getTranslatedData("integrationsData", currLocale);

const featureData: FeatureData = {
	topRow: [
		{
			icon: "amplify/brands/typescript",
			company: "Typescript",
		},
		{
			icon: "amplify/brands/react",
			company: "React",
		},
		{
			icon: "amplify/brands/shopify",
			company: "Shopify",
		},
		{
			icon: "amplify/brands/wordpress",
			company: "Wordpress",
		},
		{
			icon: "amplify/brands/windows",
			company: "Windows",
		},
	],
	botRow: [
		{
			icon: "amplify/brands/figma",
			company: "Figma",
		},
		{
			icon: "amplify/brands/android",
			company: "Android",
		},
		{
			icon: "amplify/brands/apple",
			company: "Apple",
		},
		{
			icon: "amplify/brands/mailchimp",
			company: "Mailchimp",
		},
		{
			icon: "amplify/brands/docker",
			company: "Docker",
		},
	],
};
---

<section
	id="feature-integrations"
	class="mx-auto max-w-[1400px] overflow-x-hidden px-4 py-16 md:py-20"
>
	<div class="site-container">
		<div class="mx-auto mb-16 max-w-xl text-center">
			<Badge>{integrationsData.heading}</Badge>
			<h2 class="h2 main-text-gradient">{integrationsData.title}</h2>
		</div>
	</div>

	<div class="relative">
		<!-- left fade-out -->
		<div
			class="from-base-50 dark:from-dark-bg absolute top-0 -left-px z-10 h-full w-[15%] bg-gradient-to-r from-20% to-transparent"
		>
		</div>
		<!-- right fade-out -->
		<div
			class="to-base-50 dark:to-dark-bg absolute top-0 -right-px z-10 h-full w-[15%] bg-gradient-to-r from-transparent to-80%"
		>
		</div>

		<div class="relative flex flex-col gap-0 overflow-hidden">
			<!-- marquee top row -->
			<div class="marquee-top-integrations relative flex gap-0 overflow-hidden">
				<div
					class="animate-marquee-integrations flex min-w-full shrink-0 items-center justify-around gap-0"
				>
					{
						featureData.topRow.map((card, idx) => (
							<FeatureCardIntegration icon={card.icon} company={card.company} />
						))
					}
				</div>
				<div
					aria-hidden="true"
					class="animate-marquee-integrations flex min-w-full shrink-0 items-center justify-around gap-0"
				>
					{
						featureData.topRow.map((card, idx) => (
							<FeatureCardIntegration icon={card.icon} company={card.company} />
						))
					}
				</div>
			</div>

			<!-- marquee bottom row -->
			<div class="marquee-bot-integrations relative flex gap-0 overflow-hidden">
				<div
					class="animate-marquee-integrations flex min-w-full shrink-0 items-center justify-around gap-0 [animation-direction:reverse]"
				>
					{
						featureData.botRow.map((card, idx) => (
							<FeatureCardIntegration icon={card.icon} company={card.company} />
						))
					}
				</div>
				<div
					aria-hidden="true"
					class="animate-marquee-integrations flex min-w-full shrink-0 items-center justify-around gap-0 [animation-direction:reverse]"
				>
					{
						featureData.botRow.map((card, idx) => (
							<FeatureCardIntegration icon={card.icon} company={card.company} />
						))
					}
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	const setupMarquee = () => {
		const marqueeTop = document.querySelector(".marquee-top-integrations");
		const marqueeBottom = document.querySelector(".marquee-bot-integrations");

		// add the clauss "pause" when the mouse enters the marquee
		marqueeTop?.addEventListener("mouseover", () => {
			marqueeTop.querySelectorAll(".animate-marquee-integrations").forEach((el) => {
				el.classList.add("pause");
			});
		});
		marqueeBottom?.addEventListener("mouseover", () => {
			marqueeBottom.querySelectorAll(".animate-marquee-integrations").forEach((el) => {
				el.classList.add("pause");
			});
		});

		// remove the class "pause" when the mouse leaves the marquee
		marqueeTop?.addEventListener("mouseout", () => {
			marqueeTop.querySelectorAll(".animate-marquee-integrations").forEach((el) => {
				el.classList.remove("pause");
			});
		});
		marqueeBottom?.addEventListener("mouseout", () => {
			marqueeBottom.querySelectorAll(".animate-marquee-integrations").forEach((el) => {
				el.classList.remove("pause");
			});
		});
	};

	// runs on initial page load
	setupMarquee();

	// runs on view transitions navigation
	document.addEventListener("astro:after-swap", setupMarquee);
</script>
