---
/**
 * * These are alternating side cards with titles, text, and images
 * Recommend using 2 or 3 cards in a row
 */
import FeatureCard from "@components/FeatureCard/FeatureCardSideImage.astro";
// images
import image1 from "@images/abstract-1.jpg";
import image2 from "@images/storm-2.webp";
import { getLocaleFromUrl } from "@js/localeUtils";
import { getTranslatedData } from "@js/translationUtils";

const currLocale = getLocaleFromUrl(Astro.url);
const featureData = getTranslatedData("featureData", currLocale);

const images = [image1, image2];
---

<section id="feature-side-image" class="my-12 overflow-hidden py-12">
	<div class="site-container">
		<div class="flex flex-col gap-16 md:gap-24">
			{
				featureData.map((feature, idx) => (
					<FeatureCard
						badge={feature.badge}
						title={feature.title}
						description={feature.description}
						image={images[idx]}
						imageSide={idx % 2 === 0 ? "right" : "left"}
						href={feature.href}
						buttonText={feature.buttonText}
					/>
				))
			}
		</div>
	</div>
</section>
